*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;

}

body{
    height: 100vh;
    width: 100vw;
    background: url("https://source.unsplash.com/1600x900/?landscape");
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}


img{
    width: 30px; 
}

button{
    color: rgb(0, 0, 0);
    font-weight: 600;
    border-radius: 10px;
    margin-top: 10px;
    cursor: pointer;
}

.box-maior{
    background: linear-gradient(120deg, rgba(11,133,80,1) 20%, rgba(41,212,83,1) 48%, rgba(103,230,179,1) 73%, rgba(200,255,213,1) 100%);
    padding: 35px;
    border-radius: 20px;
    margin-top: 10px;
    opacity: 0.9;
    font-weight: 600;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);

}

.box-medio{
    margin-top: 10px;
    font-weight: 600;
}
.box-menor{
    display: flex;
    align-items: center;
    margin-top: 10px;
    font-weight: 600;
    
}

input :hover {
    outline: none;
    border-radius: 50px;
}

h3{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    font-weight: 600;
}

.graus {
    margin-top: 20px;
}

.texto-previsao{
    text-transform: capitalize;

}

.p{
    margin: 0;
}

h1{
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}

